@font-face {
  font-family: "iconfont"; /* Project id 5080376 */
  src: url('iconfont.woff2?t=1765097728940') format('woff2'),
       url('iconfont.woff?t=1765097728940') format('woff'),
       url('iconfont.ttf?t=1765097728940') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ys-reback:before {
  content: "\e600";
}

.icon-shizhong:before {
  content: "\e60a";
}

.icon-a-1tongyongtubiaotushuguanfuwutushu:before {
  content: "\e625";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-aixin1:before {
  content: "\e8c3";
}

